@font-face {
  font-family: 'Saans TRIAL';
  src: url('../assets/fonts/SaansTRIAL-Heavy.woff2') format('woff2'),
  url('../assets/fonts/SaansTRIAL-Heavy.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Saans TRIAL';
  src: url('../assets/fonts/SaansTRIAL-Bold.woff2') format('woff2'),
  url('../assets/fonts/SaansTRIAL-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Saans TRIAL';
  src: url('../assets/fonts/SaansTRIAL-Light.woff2') format('woff2'),
  url('../assets/fonts/SaansTRIAL-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Saans TRIAL';
  src: url('../assets/fonts/SaansTRIAL-Regular.woff2') format('woff2'),
  url('../assets/fonts/SaansTRIAL-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Saans TRIAL';
  src: url('../assets/fonts/SaansTRIAL-SemiBold.woff2') format('woff2'),
  url('../assets/fonts/SaansTRIAL-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Saans TRIAL';
  src: url('../assets/fonts/SaansTRIAL-Medium.woff2') format('woff2'),
  url('../assets/fonts/SaansTRIAL-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

