:root {
  --color-neutral: rgb(255, 255, 255);
  --color-primary: rgb(57, 105, 250);
  --color-primary-3: rgba(57, 105, 250, 0.3);
  --color-main-bg: rgb(233, 234, 236);
  --color-title: rgb(39, 41, 48);
  --color-text-shadow: rgba(0, 0, 0, 0.25);
  --color-desc: rgb(69, 73, 84);
  --color-step-title: rgb(241, 242, 243);
  --color-step-bg: rgb(48, 52, 64);
  --color-step-desc: rgb(191, 194, 202);
}
