@import "./../../styles/pxToRem";
@import "./../../styles/media";

.wrapper {
  padding: rem(123px) 0;
  display: flex;
}

.step__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding: rem(61px) rem(152px) rem(49px) rem(88px);
  min-width: 57.35%;
  list-style-type: none;
  background-color: var(--color-step-bg);
  box-shadow: rem(-25px) rem(24px) rem(84px) 0 rgba(24, 31, 52, 0.39);
  border-radius: rem(10px);
}

.step__order {
  font-size: rem(30px);
  font-weight: 500;
  line-height: rem(30px);
  color: var(--color-primary);
}

.step__title {
  margin: rem(14px) 0 rem(5px);
  font-size: rem(18px);
  font-weight: 500;
  line-height: rem(21px);
  color: var(--color-step-title);
  display: flex;
  align-items: center;

  &::before {
    content: '';
    margin-inline-end: rem(10px);
    display: inline-block;
    width: rem(24px);
    height: rem(24px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.step__item {
  //padding-left: rem(20px);
  position: relative;

  &:not(:first-child) {
    padding-top: rem(16px);

    //&::before {
    //  margin-top: rem(16px);
    //  content: '';
    //  position: absolute;
    //  bottom: 100%;
    //  left: 0;
    //  width: 1px;
    //  height: 100%;
    //  background-color: var(--color-primary-3);
    //}
  }

  //&:nth-child(2)::before {
  //  background-color: var(--color-primary);
  //}

  //&::after {
  //  margin-top: rem(24px);
  //  content: '';
  //  position: absolute;
  //  top: 0;
  //  left: 0;
  //  width: rem(8px);
  //  height: rem(8px);
  //  border-radius: 50%;
  //  transform: translateX(-50%);
  //  background-color: var(--color-primary);
  //}

  @for $i from 1 through 4 {
    &:nth-child(#{$i}) .step__title::before {
      background-image: url('./../../images/workflow/icons/#{$i}.png');

      @supports (background-image: url('./../../images/workflow/icons/#{$i}.svg')) {
        background-image: url('./../../images/workflow/icons/#{$i}.svg');
      }
    }
  }
}

.step__desc {
  font-size: rem(16px);
  font-weight: 400;
  line-height: rem(25px);
  color: var(--color-step-desc);
}

.content {
  margin-left: rem(32px);
}

.title {
  font-size: rem(28px);
  font-weight: 400;
  line-height: rem(32px);
  color: var(--color-subtitle);

  span {
    font-weight: 700;
  }
}

.text {
  display: inline-block;
  margin: rem(16px) 0;
  font-size: rem(18px);
  font-weight: 400;
  line-height: rem(30px);
  color: var(--color-desc);
}

.slider {
  margin-left: -25.65%;
  min-width: 50.45%;
  flex-shrink: 0;
  border-radius: rem(10px);
  background-color: var(--color-primary);
  //background: linear-gradient(293.83deg, rgba(0, 69, 207, 0) 41.23%, rgba(0, 69, 207, 0.46) 100%);
  //background-blend-mode: color-dodge;

  &::after {
    content: '';
    display: block;
    padding-top: 65.15%;
  }
}

.advice {
  display: inline-block;
  margin: rem(33px) 0 rem(15px);
  font-size: rem(16px);
  font-weight: 500;
  line-height: 25px;
  color: var(--color-title);
}

.link {
  padding: rem(16px) rem(68px);
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;
  color: var(--color-neutral);
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  background-color: var(--color-primary);
  border-radius: rem(8px);
}

